[Unit]
Description=Surveille A/B et ajoute C1-C3 si les deux saturent

[Timer]
OnBootSec=2min
OnUnitActiveSec=10s
AccuracySec=1s
Unit=twitninf-autoscaler.service

[Install]
WantedBy=timers.target
