[Unit]
Description=Surveille A/B et ajoute des C tant que la RAM le permet

[Timer]
OnBootSec=2min
OnUnitActiveSec=5s
AccuracySec=1s
Unit=twitninf-autoscaler.service

[Install]
WantedBy=timers.target
